<div class="main">
  <div class="block">
    <p>Welcome to My Site!</p>

    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="signup" [checked]="!isRegistration">
        <input type="radio" name="slide" id="login" [checked]="isRegistration">
        <label for="signup" class="slide signup" (click)="toggleLoginView()">Sign up</label>
        <label for="login" class="slide login" (click)="toggleLoginView()">Log in</label>
        <div class="slider-tab"></div>
      </div>
    </div>


    <form [formGroup]="registrationForm" (ngSubmit)="isRegistration ? login() : registerUser()" class="container">
      <div class="data">
        <input formControlName="email" [(ngModel)]="user.email" class="input-data" type="text" placeholder="Email">
        <span *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched" class="requir">
      *Email is required and must be valid
    </span>
      </div>

      <div class="data1">
        <input formControlName="password" [(ngModel)]="user.password" class="input-data" type="password" placeholder="Password">
        <span *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched" class="requir">
      *Password is required
    </span>
      </div>

      <div *ngIf="!isRegistration" class="data2">
        <input formControlName="nickname" [(ngModel)]="user.nickname" class="input-data" type="text" placeholder="Nickname">
        <span *ngIf="registrationForm.controls['nickname'].invalid && registrationForm.controls['nickname'].touched" class="requir">
      *Nickname is required
    </span>
      </div>

      <button type="submit" class="log-in" [disabled]="registrationForm.invalid">
        {{ isRegistration ? 'Log in' : 'Sign Up' }}
      </button>
    </form>


    <div *ngIf="isRegistration" class="forgot">
      <a href="#">Forgot password?</a>
    </div>

    <div *ngIf="loggedIn" class="home-link">
      <a routerLink="/home">Go to Home</a>
    </div>
  </div>
</div>
