<div class="jobinfo">
  <div class="job">
    <div class="block7">
      <div class="sq">
        <img class="photo" src="assets/job.png">
      </div>
      <p>JOB EXPERIENCE</p>
    </div>
    <div class="line"></div>
    <div class="info">
      <div class="j1">
        <div class="inf">
          <div class="year">
            <p>2021-Present</p>
          </div>
          <div class="more">
            <div class="r">Creative Agency</div>
            <div class="p1">Chicago</div>
            <div class="p2">SENIOR WEB DESIGNER</div>
            <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</a>                    </div>
        </div>
      </div>
      <div class="j1">
        <div class="inf">
          <div class="year">
            <p>2018-2021</p>
          </div>
          <div class="more">
            <div class="r">Creative Market</div>
            <div class="p1">United Kingdom</div>
            <div class="p2">GRAPHIC DESIGNER</div>
            <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</a>                </div>
        </div>
        <div class="j1">
          <div class="inf">
            <div class="year">
              <p>2015-2018</p>
            </div>
            <div class="more">
              <div class="r">Marketing Agency</div>
              <div class="p1">United Kingdom</div>
              <div class="p2">BACHELOR DEGREE</div>
              <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</a>                </div>
          </div>
        </div>
        <div class="j1">
          <div class="inf">
            <div class="year">
              <p>2013-2015</p>
            </div>
            <div class="more">
              <div class="r">Creative Agency</div>
              <div class="p1">Chicago</div>
              <div class="p2">JUNIOR WEB DESIGNER</div>
              <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
